body {
  margin: 0;
  background: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: space-between;
}

header {
  background: black;
  color: white;
}

nav {
  margin: 10px;
  background: black;
  width: 100px
}

ul {
  height: 100%;
  padding: 30px 30px 30px 15px;
  text-align: center;
  margin: 0;
}

li {
  list-style: none;
  padding: 10px 10px;
  width: 100%;
  font-size: 12px;
  margin: 0;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

a {
  color: wheat;
  text-decoration: none;
}

div {
  border: 4px dotted white;
  margin: 10px;
}

h2 {
  margin: 40px;
}

p {
  padding: 20px 20px;
}
